# Ignoring uploading of data
data/reference/*.gz
data/samples/*.gz
data/samples/*.fastq
data/samples/*.tar
data/reference/downloads_info.txt

data/reference/GCA*.*

scripts/03_mapping/AA*.*

.DS_STORE
.ipynb_checkpoints
scripts/00_env_setup/magpacsmol.sh
scripts/00_env_setup/magpac_backup.sh